<!-- inicio componente Cabecera -->
<header class="cabecera container-fluid">
  <div class="row">
    <div class="logo col-1">
      <img src="assets/logo.svg">
    </div>
    <div class="cabecera-icono col-11">
      <div class="hamburguesa">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
<!-- fin componente Cabecera -->
<main class="container-fluid">
  <section class="widgets row">
    <ul class="widgets-list list-unstyled col">
      <!-- inicio componente WidgetTransferencia -->
      <li class="widget">
        Transferencia mensual
        <!-- inicio componente BotonesAcciones -->
        <div class="botones">
          <button class="btn btn-light btn-sm">Editar</button>
        </div>
        <!-- fin componente BotonesAcciones -->
      </li>
      <!-- fin componente WidgetTransferencia -->
      <!-- inicio componente WidgetEspacio -->
      <li class="widget">
        Espacio en disco usado
        <!-- inicio componente BotonesAcciones -->
        <div class="botones">
          <button class="btn btn-light btn-sm">Editar</button>
        </div>
        <!-- fin componente BotonesAcciones -->
      </li>
      <!-- fin componente WidgetEspacio -->
      <!-- inicio componente WidgetBuzones -->
      <li class="widget">
        Número de buzones
        <!-- inicio componente BotonesAcciones -->
        <div class="botones">
          <button class="btn btn-light btn-sm">Editar</button>
        </div>
        <!-- fin componente BotonesAcciones -->
      </li>
      <!-- fin componente WidgetBuzones -->
      <!-- inicio componente WidgetFTP -->
      <li class="widget">
        Número de usuarios FTP
        <!-- inicio componente BotonesAcciones -->
        <div class="botones">
          <button class="btn btn-light btn-sm">Editar</button>
        </div>
        <!-- fin componente BotonesAcciones -->
      </li>
      <!-- fin componente WidgetFTP -->
      <!-- inicio componente WidgetBD -->
      <li class="widget">
        Número de bases de datos MySQL
        <!-- inicio componente BotonesAcciones -->
        <div class="botones">
          <button class="btn btn-light btn-sm">Editar</button>
        </div>
        <!-- fin componente BotonesAcciones -->
      </li>
      <!-- fin componente WidgetBD -->
      <!-- inicio componente WidgetFirewall -->
      <li class="widget">
        Firewall
        <!-- inicio componente BotonesAcciones -->
        <div class="botones">
          <button class="btn btn-light btn-sm">Editar</button>
        </div>
        <!-- fin componente BotonesAcciones -->
      </li>
      <!-- fin componente WidgetFirewall -->
    </ul>
  </section>
</main>
<footer class="pie container-fluid">
  <div class="row">
    <div class="col">Copyright 2019</div>
  </div>
</footer>
